@page "/Registro"

@inject ClientesBLL ClientesBLL
@using RegistroClientes.Models
@inject NotificationService notificationService


<EditForm Model="Clientes" OnValidSubmit="Guardar">
     <DataAnnotationsValidator />

    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header">
                <h3>Registro de Clientes </h3>
            </div>
            <div class="card-body">
                @*BuscarId*@
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-4">
                    <div class="input-group mb-3">
                        <InputNumber @bind-Value="Clientes.ClienteId" class="form-control" aria-describedby="buscarButton" />
                        <button @onclick="Buscar" class="btn btn-outline-primary" type="button" id="buscarButton">
                            <i class="oi oi-magnifying-glass" />
                        </button>
                    </div>
                </div>

                @*ClienteId*@
                <div class="mb-3">
                    <label class="form-label">ClienteId</label>
                    <InputNumber @bind-Value="Clientes.ClienteId" class="form-control" />
                    <ValidationMessage For="@(() => Clientes.ClienteId)" />
                </div>

                @*Nombre*@
                <div class="mb-3">
                    <label class="form-label">Nombres</label>
                    <InputText @bind-Value="Clientes.Nombres" class="form-control" />
                    <ValidationMessage For="@(() => Clientes.Nombres)" />
                </div>

                @*Telefono*@
                <div class="mb-3">
                    <label class="form-label">Telefono</label>
                    <InputNumber @bind-Value="Clientes.Telefono" class="form-control" />
                    <ValidationMessage For="@(() => Clientes.Telefono)" />
                </div>

                @*Celular*@
                <div class="mb-3">
                    <label class="form-label">Celular</label>
                    <InputNumber @bind-Value="Clientes.Celular" class="form-control" />
                    <ValidationMessage For="@(() => Clientes.Celular)" />
                </div>
                
                @*RNC*@
                <div class="mb-3">
                    <label class="form-label">RNC</label>
                    <InputNumber @bind-Value="Clientes.RNC" class="form-control" />
                    <ValidationMessage For="@(() => Clientes.RNC)" />
                </div>

                @*Email*@
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <InputText @bind-Value="Clientes.Email" class="form-control" />
                    <ValidationMessage For="@(() => Clientes.Email)" />
                </div>
                
                @*Direccion*@
                <div class="mb-3">
                    <label class="form-label">Direccion</label>
                    <InputText @bind-Value="Clientes.Direccion" class="form-control" />
                    <ValidationMessage For="@(() => Clientes.Direccion)" />
                </div>

            </div>

            <div class="card-footer d-flex justify-content-center">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary" @onclick="Nuevo"> <i class="oi oi-file" /> Nuevo</button>
                    <button type="submit" class="btn btn-success"> <i class="oi oi-document" /> Guardar</button>
                    <button type="button" class="btn btn-danger" @onclick="Eliminar"><i class="oi oi-trash" /> Eliminar</button>
                </div>
            </div>
        </div>
    </div>


</EditForm>


@code 
{
    public int ClienteId { get; set; }
    public Cliente Clientes = new Cliente();

    protected override void OnInitialized()
    {
        if (ClienteId > 0)
        {
            this.Clientes.ClienteId = this.ClienteId;
            Buscar();
        }
    }

    public void Buscar()
    {
        var ClienteEncontrada = ClientesBLL.Buscar(Clientes.ClienteId);
        if (ClienteEncontrada != null)
        {
            this.Clientes = ClienteEncontrada;
        }
        else
        {
            notificationService.ShowNotification(
            titulo: "Error de Busqueda",
            mensaje: "Registro no encontrado",
            NotificationSeverity.Error);

        }
    }
    public void Nuevo()
    {
        this.Clientes = new Cliente();
    }

    public void Guardar()
    {
        if (!Validar())
        {
            notificationService.ShowNotification(
                titulo: "Validacion",
                mensaje: "Error, Revise los campos",
                NotificationSeverity.Error);
            return;
        }

        var guardo = ClientesBLL.Guardar(this.Clientes);
        if (guardo)
        {
            notificationService.ShowNotification(
                titulo: "Exito",
                mensaje: "Guardo correctamente!",
                NotificationSeverity.Success);
            Nuevo();
        }

        else
        {
            notificationService.ShowNotification(
                titulo: "Error",
                mensaje: "Ocurrio un error y no fue posible guardad",
                NotificationSeverity.Error);
        }
    }

    public void Eliminar()
    {
        Buscar();
        if (ClientesBLL.Eliminar(this.Clientes))
        {
            notificationService.ShowNotification(
                titulo: "Exito",
                mensaje: "Eliminado con Exito!",
                NotificationSeverity.Success);
            Nuevo();
        }
        else
        {
            notificationService.ShowNotification(
                titulo: "Error",
                mensaje: "Ocurrio un error y no fue posible eliminar",
                NotificationSeverity.Error);
        }
    }

    public bool Validar()
    {
        return true;
    }

}