@page "/RegistroTickets"
@page "/RegistroTickets/{TicketId:int}"
@inject TicketsBLL TicketsBLL
@using RegistroClientes.Models
@inject NotificationService notificationService


<EditForm Model="Ticket" OnValidSubmit="Guardar">
     <DataAnnotationsValidator />

    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header">
                <h3>Registro de tickets </h3>
            </div>
            <div class="card-body">
                @*BuscarId*@
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-4">
                    <div class="input-group mb-3">
                        <InputNumber @bind-Value="Ticket.TicketId" class="form-control" aria-describedby="buscarButton" />
                        <button @onclick="Buscar" class="btn btn-outline-primary" type="button" id="buscarButton">
                            <i class="oi oi-magnifying-glass" />
                        </button>
                    </div>
                </div>

                @*TicketId*@
                <div class="mb-3">
                    <label class="form-label">TicketId</label>
                    <InputNumber @bind-Value="Ticket.TicketId" class="form-control" />
                    <ValidationMessage For="@(() => Ticket.TicketId)" />
                </div>

                @*Fecha*@
                <div class="mb-3">
                    <label class="form-label">Fecha</label>
                    <InputNumber @bind-Value="Ticket.Fecha" class="form-control" />
                    <ValidationMessage For="@(() => Ticket.Fecha)" />
                </div>
                 @*ClienteId*@
                <div class="mb-3">
                    <label class="form-label">ClienteId</label>
                    <InputNumber @bind-Value="Ticket.ClienteId" class="form-control" />
                    <ValidationMessage For="@(() => Ticket.ClienteId)" />
                </div>
                  @*SistemaId*@
                <div class="mb-3">
                    <label class="form-label">SistemaId</label>
                    <InputNumber @bind-Value="Ticket.SistemaId" class="form-control" />
                    <ValidationMessage For="@(() => Ticket.SistemaId)" />
                </div>
                    @*PrioridadId*@
                <div class="mb-3">
                    <label class="form-label">PrioridadId</label>
                    <InputNumber @bind-Value="Ticket.PrioridadId" class="form-control" />
                    <ValidationMessage For="@(() => Ticket.PrioridadId)" />
                </div>
                 @*SolicitadoPor*@
                <div class="mb-3">
                    <label class="form-label">SolicitadoPor</label>
                    <InputText @bind-Value="Ticket.SolicitadoPor" class="form-control" />
                    <ValidationMessage For="@(() => Ticket.SolicitadoPor)" />
                </div>
                   @*Asunto*@
                <div class="mb-3">
                    <label class="form-label">Asunto</label>
                    <InputText @bind-Value="Ticket.Asunto" class="form-control" />
                    <ValidationMessage For="@(() => Ticket.Asunto)" />
                </div>
                 @*Descripcion*@
                <div class="mb-3">
                    <label class="form-label">Descripcion</label>
                    <InputText @bind-Value="Ticket.Descripcion" class="form-control" />
                    <ValidationMessage For="@(() => Ticket.Descripcion)" />
                </div>
               

            </div>

            <div class="card-footer d-flex justify-content-center">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary" @onclick="Nuevo"> <i class="oi oi-file" /> Nuevo</button>
                    <button type="submit" class="btn btn-success"> <i class="oi oi-document" /> Guardar</button>
                    <button type="button" class="btn btn-danger" @onclick="Eliminar"><i class="oi oi-trash" /> Eliminar</button>
                </div>
            </div>
        </div>
    </div>


</EditForm>


@code 
{
    public int TicketId { get; set; }
    public Tickets Ticket = new Tickets();

    protected override void OnInitialized()
    {
        if (TicketId > 0)
        {
            this.Ticket.TicketId = this.TicketId;
            Buscar();
        }
    }

   
    public void Nuevo()
    {
        this.Ticket = new Tickets();
    }

    public void Buscar()
    {
        
    }
    public void Guardar()
    {
        if (!Validar())
        {
            notificationService.ShowNotification(
                titulo: "Validacion",
                mensaje: "Error, Revise los campos",
                NotificationSeverity.Error);
            return;
        }

        var guardo = TicketsBLL.Guardar(this.Ticket);
        if (guardo)
        {
            notificationService.ShowNotification(
                titulo: "Exito",
                mensaje: "Guardo correctamente!",
                NotificationSeverity.Success);
            Nuevo();
        }

        else
        {
            notificationService.ShowNotification(
                titulo: "Error",
                mensaje: "Ocurrio un error y no fue posible guardad",
                NotificationSeverity.Error);
        }
    }

    public void Eliminar()
    {
        Buscar();
        if (TicketsBLL.Eliminar(this.Ticket))
        {
            notificationService.ShowNotification(
                titulo: "Exito",
                mensaje: "Eliminado con Exito!",
                NotificationSeverity.Success);
            Nuevo();
        }
        else
        {
            notificationService.ShowNotification(
                titulo: "Error",
                mensaje: "Ocurrio un error y no fue posible eliminar",
                NotificationSeverity.Error);
        }
    }

    public bool Validar()
    {
        return true;
    }

}